<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.cmoj.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cm.cmoj.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="unionId" column="unionId" jdbcType="VARCHAR"/>
        <result property="mpOpenId" column="mpOpenId" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
        <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <!--按用户名查询User-->
    <select id="findByUsername" resultType="com.cm.cmoj.model.entity.User">
        select * from user where userName=#{username} limit 1
    </select>

    <!--按id查询User，实际上这个User就应该是博主-->
    <select id="findById" resultType="com.cm.cmoj.model.entity.User">
        select * from user where id=#{id} limit 1
    </select>

    <!--按username修改-->
    <update id="updateUserByUsername">
        update user set userName=#{user.username}, userPassword=#{user.password}, update_time=now() where userName=#{username}
    </update>
    <sql id="Base_Column_List">
        id,unionId,mpOpenId,
        userName,userAvatar,userProfile,
        userRole,createTime,updateTime,isDelete
    </sql>
</mapper>
